* { 
    margin: 0;
    padding: 0; 
    background-color: rgb(49, 47, 47);
}

.headerContainer { 
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottom-settings { 
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    font-weight: bold;
    color: rgb(240, 230, 230);
}

#game-button1{
    width: 10%;
    height: 5vh;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
    background-color: rgb(56, 52, 52);
    color: rgb(240, 230, 230);
    border: 2px solid black;
    word-wrap: break-word;
}

#game-button2{
    width: 10%;
    height: 5vh;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
    background-color: rgb(56, 52, 52);
    color: rgb(240, 230, 230);
    border: 2px solid black;
    word-wrap: break-word;
}

#proxy-button{
    width: 10%;
    height: 5vh;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
    background-color: rgb(56, 52, 52);
    color: rgb(240, 230, 230);
    border: 2px solid black;
    word-wrap: break-word;
}

#game-page{
    width: 95%;
    height: 20vh;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
}

.page-button{
    width: 150px;
    height: 50px;
    cursor: pointer;
    font-weight: bold;
    background-color: rgb(56, 52, 52);
    color: rgb(240, 230, 230);
    border: 2px solid black;
}

.page-button:hover{
    cursor: pointer;
}

.button:hover{
    cursor: pointer;
}
