* { 
    margin: 0;
    padding: 0; 
    background-color: rgb(49, 47, 47);
}

#titlebar{
    position: absolute;
    right: 50%;
    width: 50px;
}

#toptext{
    position: absolute;
    text-align: center;
    font-size: 50px;
    width: 200px;
    height: 100px;
    right: 0%;
    border-radius: 12px;
    color: rgb(196, 189, 189);
    background-color: rgb(51, 46, 46);
}

#button-container{
    position: absolute;
    left: 50%;
    top: 50%;
    width: 90px;
    height: 70px;
}

#game-button1{
    position: absolute;
    right: 120%;
}

.page-button{
    background-color: rgb(51, 46, 46);
    color: rgb(196, 189, 189);
    width: 150px;
    height: 25px;
    border-radius: 12px;
}

.page-button:hover{
    cursor: pointer;
}

.button:hover{
    cursor: pointer;
}