* { 
    margin: 0;
    padding: 0; 
    background-color: rgb(68, 64, 64);
}

.headerContainer { 
    width: 100%;
    height: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    color: rgb(240, 230, 230);
    background-color: rgb(46, 44, 44);
    border-radius: 5px;
    border: 2px solid black;
}

#games { 
    width: 95%;
    height: 80vh;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
}

.setting{
    width: 20vh;
    height: 3vh;
    cursor: pointer;
    font-weight: bold;
    background-color: rgb(56, 52, 52);
    color: rgb(240, 230, 230);
    border: 2px solid black;
}

#game-frame{
    width: 95%;
    height: 80vh;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
    visibility: hidden;
}

.holder{
    display: flex;
    background-color: rgb(46, 44, 44);
    width: 10%;
    height: 20vh;
    flex-direction: column;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    box-shadow: 5px 5px 10px black;
}

#menu{
    background-color: rgb(46, 44, 44);
    width: 40vh;
    height: 90vh;
    display: none;
}

.game-image{
    width: 85%; height: 14vh;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    margin-top: 5px;
    display: flex;
    object-fit: contain;
    flex-wrap: wrap;
}

#burger-img{
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    object-fit: contain;
    flex-wrap: wrap;
}

#burger-button{
    width: 5%;
    height: 7vh;
    margin-left: auto;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(36, 34, 34);
    border: none;
}

.game-button{ 
    width: 85%;
    height: 3.8vh;
    cursor: pointer;
    margin-top: auto;
    border-radius: 5px;
    font-weight: bold;
    background-color: rgb(56, 52, 52);
    color: rgb(240, 230, 230);
    border: 2px solid black;
    word-wrap: break-word;
    margin-bottom: 5px;
}

#bottom-settings{
    width: 100%;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    gap: 15px;
}

button:hover{
    cursor: pointer;
}

.frame { 
    width: 95%;
    height: 80vh;
}
