* { 
    margin: 0;
    padding: 0; 
    background-color: rgb(68, 64, 64);
}

#frame{
    position: absolute;
    right: 50%;
    width: 50px;
}

#titletxt{
    position: absolute;
    text-align: center;
    font-size: 40px;
    width: 200px;
    height: 50px;
    right: 12%;
    border-radius: 2px;
    color: rgb(196, 189, 189);
    background-color: rgb(51, 46, 46);
}

#games{
    position: absolute;
    right: 50%;
    top: 10%;
}

.button:hover{
    cursor: pointer;
}