* { 
    margin: 0;
    padding: 0; 
    background-color: rgb(68, 64, 64);
    font-family: 'Fira Sans', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@200&display=swap');

.headerContainer { 
    width: 100%;
    height: 6vh;
    display: flex;
    position: sticky;
    justify-content: center;
    gap: 10px;
    align-items: center;
    background-color: rgb(36, 34, 34)
}

#disg_menu{
    position: absolute;
    display: none;
    justify-content: center;
    align-items: center;

    top: 80%;
    right: 0;
    left: auto;

    background-color: rgb(24, 23, 23);
    width: 12%;
    height: 17vh;
}

#indexpages{
    position: sticky;
    bottom: 122px;
    width: 100%;
    height: 50px;
    background-color: rgb(36, 34, 34)
}

#games-count{
    position: absolute;
    left: 0;
    right: auto;
    width: 15%;
    height: 5vh;
}

#tools{
    position: absolute;
    left: auto;
    right: 0;
    width: 10%;
    height: 5vh;
}

#fake_frame{
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(51,51,51,0.7);
    z-index: 10;
}

#uname{
    margin-right: auto;
    margin-left: auto;
}

#username-frame{
    width: 95%;
    height: 80vh;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
    display: none;
}

#title:hover{
    cursor: pointer;
}

#user-hold{
    width: 20%;
    height: 30vh;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    border: 5px solid black;
    background-color: rgb(36, 34, 34)
}

#create_button{
    height: 80%;
    border-radius: 5px;
    color: rgb(240, 230, 230);
    background-color: rgb(46, 44, 44);
    border-radius: 5px;
    border: 2px solid black;
}

#download-holder{
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    margin: auto;
    display: none;
    text-align: center;
    width: 30%;
    height: 10vh;
    background-color: transparent;
}

a {
    color: rgb(24, 23, 23);
}

h1{
    color: rgb(240, 230, 230);
    background-color: rgb(46, 44, 44);
    font-size: 4vh;
    text-align: center;
    border-radius: 5px;
    border: 2px solid black;
}

#setting-form{
    display: none;
}

#home-button-top{
    margin-right: auto;
    height: 100%;
    text-align: center;
    width: 10%;
    font-size: 100%;
    color: rgb(240, 230, 230);
    background-color: rgb(36, 34, 34)
}

#games-count{
    margin-left: auto;
    margin-top: auto;
    font-size: 100%;
    height: 100%;
    background-color: transparent;
    color: rgb(240, 230, 230);
}

#page-count{
    background-color: transparent;
    font-size: 100%;
    width: 100%;
    height: 5vh;
}

#page-count-container{
    width: 35%;
    height: 5vh;
}

.page { 
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    display: none;
}

.page{
    width: 77%;
    height: 93%;
    overflow-y: scroll;
}

.game-holder { 
    width: 77%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    display: none;
}

#fullscreen{
    font-size: 50px;
    cursor: pointer;
    font-weight: bold;
    color: rgb(240, 230, 230);
}

#home{
    font-size: 50px;
    cursor: pointer;
    font-weight: bold;
    color: rgb(240, 230, 230);
}

#fullscreen:hover{
    font-size: 65px;
}

#settings{
    position: absolute;
    font-size: 2.5rem;
    top: 0; bottom: 0; left: 100; right: 0;
    background-color: transparent;
}

#settings:hover{
    cursor: pointer;
}

#home:hover{
    font-size: 65px;
}


#game-frame{
    width: 95%;
    height: 80vh;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
    visibility: hidden;
}

.holder{
    display: flex;
    background-color: rgb(46, 44, 44);
    width: 10%;
    height: 20vh;
    flex-direction: column;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    box-shadow: 5px 5px 10px black;
}

#menu{
    visibility: hidden;
    background-color: rgb(46, 44, 44);
    width: 40%;
    height: 50vh;
    margin-left: auto;
    margin-top: 50%;
    z-index: 3;
    border: 5px solid black;
}

.game-image{
    width: 100%;
    height: auto;
    display: flex;
    object-fit:cover;
    flex-wrap: wrap;
}

.game-image:hover{
    cursor: pointer;
    opacity: 0.6;
}

#Disguise{
    position: absolute;

    right: 0;
    left: auto;

    width: 5%;
    height: 100%;
}

#burger-img{
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    object-fit: contain;
    flex-wrap: wrap;
    z-index: 2;
}

#burger-button{
    width: 5%;
    height: 7vh;
    margin-left: auto;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(36, 34, 34);
    border: none;
    z-index: 3;
}

#counter{
    background-color: transparent;
}

.game-button{ 
    width: 100%;
    height: 3.8vh;
    cursor: pointer;
    margin-top: auto;
    border-radius: 5px;
    text-align: center;
    align-items: center;
    background-color: rgb(31, 30, 30);
    color: rgb(240, 230, 230);
    border: 0px solid black;
    white-space: pre-wrap;
    word-break: break-all;
    overflow-x: initial;
    word-wrap: break-word;
    font-size: 12px;
    margin-bottom: 5px;
}

button{
    cursor: pointer;
    margin-top: auto;
    border-radius: 5px;
    font-weight: bold;
    background-color: rgb(56, 52, 52);
    color: rgb(240, 230, 230);
    border: 2px solid black;
    word-wrap: break-word;
    margin-bottom: 5px;
}

#close-button{
    width: 30px;
    margin-left: auto;
    border: 2px solid black;
    border-radius: 5px;
    font-size: 100%;
}

#panic-button{
    width: 10%;
    height: 4vh;
    color: rgb(240, 230, 230);
    background-color: rgb(46, 44, 44);
    border-radius: 5px;
    border: 2px solid black;
    font-size: 100%;
}

#bottom-settings{
    width: 100%;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
    gap: 10px;
}

button:hover{
    cursor: pointer;
}

.setting:hover{
    font-size: 3.8rem;
}

.form-c #UserP{
    margin-right: auto;
    margin-left: auto;
}


input[type=text], input[type=password] {
    width: 70%;
    height: 2vh;
    padding: 5px;
    display: inline-block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 15%;
    display: flex;
    background: #f1f1f1;
  }

#buttons{
    width: 100%;
    height: 10%;
    margin-top: 7%;
    text-align: center;
    justify-content: center;
    background-color: transparent;
}

#nextPage{
    width: 5%;
    height: 5vh;
}

#previousPage{
    width: 5%;
    height: 5vh;
}

#previousPage:hover{
    width: 7%;
}

#nextPage:hover{
    width: 7%;
}

.form-c{
    width: 100%;
    height: 100%;
    background-color: transparent;
}

.frame { 
    width: 95%;
    height: 80vh;
    align-items: center;
    justify-content: center;
}

.rom {
    width: 40%;
    height: 58vh;
}

.image-holder{
    width: 85%; height: 14vh;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    margin-top: 5px;
    display: flex;
    overflow: hidden;
    flex-wrap: wrap;
    z-index: 2;
}

html,body{
    height: 100%
}

#holder{
    min-height: 100%;
    position:relative;
}

#body{
    padding-bottom: 100px;    /* height of footer */
}

.indexPagesContainer { 
    background-color: rgb(36, 34, 34);
    width: 100%;
    height: 50px;  
    position: absolute;
    top: 100%;
    color: white;
    display: flex;
    justify-content: center;
    gap: 5px;
}

@media screen and (max-width: 867px) { 
    .holder {
        width: 50%;
        height: 15vh;
    }
}
